# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ModRimworldTouchCat.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\workPlace\ModRimworldTouchCat\ModRimworldTouchCat\.idea\.idea.ModRimworldTouchCat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
