# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ModRimWorldTouchCat.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Program Files (x86)\Steam\steamapps\common\RimWorld\Mods\ModRimWorldTouchCat\Source\ModRimWorldTouchCat\.idea\.idea.ModRimWorldTouchCat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
