# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ModRimworldTouchCat.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Program Files (x86)\Steam\steamapps\common\RimWorld\Mods\ModRimWorldTouchCat\1.3\Source\ModRimworldTouchCat\.idea\.idea.ModRimworldTouchCat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
